* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;

}

.logo-mario {
    height: 200px;

}

.irmaos {
    height: 500px;
}

button {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

button:hover {
    background-color: beige;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;

}

body {

    height: 100vh;

}

.caixa-principal {
    width: 40%;

}

.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;

}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;

}

.caixa-mae {

    display: flex;
    align-items: center;
    padding: 100px;
    height: 100vh;
    justify-content: space-around;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: rgb(255, 255, 255);
    font: 20px;
    line-height: 1.5;


}

.logo-whats {
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}


.logo-whats:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out;


}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header img {
    height: 100px;
}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.header a:hover {
    color: #c51111;
    font-size: 25px;
    transition: 0.5s ease-in-out;
}

.Formulario-Fale-conosco {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -320px;
    padding: 30px;
    border-radius: 5px;
    gap: 20px;
    transition: left 1s ease-in-out;
}

input {
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #1cda2b;

}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #1cda2b;
}

.botão-orçamento {
    width: auto;
}

.mascara-formulario {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    transition: visibility 1s ease-in-out;
}


/*Media query, Deixa o site responsivo
Max -> Valor menor que 1100Px
min -> Valor maior que 1100Px
*/

@media(max-width: 1100px) {

    p {
        display: none;
    }


    .caixa-mae {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .irmaos {
        width: 80vw;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .header {
        margin: 10px;
        display: flex;
    }

    .header img {
        display: none;
    }

    .header a {
        font-size: 20px;

    }

}

.imagem-fundo {
    position: fixed;
    z-index: -1;
    top: 0;
}

.imagem-fundo img{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.container{
    width: 420px;
    background: transparent;
    border: 2px solid #333;
    backdrop-filter: blur(2px);
} 

.body2{
    display: flex;
    align-items: center;
    justify-content: left;
    
   
}

.encanamento{
    width: 500px;
    right: auto;
    margin-left: 10%;

}

